* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #9366ff;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #3f3160;
  width: 400px;
  border-radius: 10px;
  gap: 30px;

}

h1 {
  color: #fff;
  margin-top: 30px;
}
.inputButton {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;

}

.inputTask {
  background-color: #1b718a;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
}

.inputTask::placeholder{
    color: #FFF;
}

.listTask {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #9366ff;
  padding: 5px;
  border-radius: 4px;
  
}

.listTask li {
  color: #fff;
}

.listTask button {
  border: none;
  border-radius: 4px;
  background-color: #00000000;
  cursor: pointer;
}

ul {
  list-style: none;
}

.inputButton button {
  width: 60px;
  background-color: #ca9c17;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.empytInput {
  border: 1px solid red;
  background-color: #1b718a;

  padding: 8px;
  outline: none;
  border-radius: 5px;
  color: #fff;
}

.empytInput::placeholder {
  color: red;
  font-style: italic;
}

.check{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.checkbox{
   appearance: none;
  -webkit-appearance: none; 
  
  width: 14px;             
  height: 14px;
  border: 2px solid #ca9c17;
  border-radius: 4px;      
  cursor: pointer;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.checkbox:checked {
  background-color: #ca9c17;
}

.checkbox:checked::after {
  content: "✓";
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.inputCheck{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}